<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel='stylesheet' href='/static/alfheimweb/CSS/style.css'>

<div class="logo">
        <img width="100%" height="160" src="/static/alfheimweb/images/fond_ciel.jpg" alt="Gestion energie">
   
    </div>

	<title>Projet Alfheim</title>
	
</head>
<body>
 
 <div class="thermometre">
 <img width="247" height="584" src="/static/alfheimweb/images/thermometre.jpg" title="http://www.kiwimage.com" alt="thermometre">
 </div>
 
 <div class="presentation">
 Bienvenue sur le site </br>
 de consommation d'energie !
 </div>
 
 
 <div class="infos">
 Renseignez votre identifiant et votre mot de passe </br>
 pour accéder à votre espace personnel.
 </div>
 

 
 
 
 <div class="labels">
                <span></span><h2>Connexion</h2></br>
	
<form action="/alfheimweb/test/" method="post">
    <label for="username">Identifiant:</label>
    <input type="text" name="username" value="" id="username"></br></br>
    <label for="password">Mot de passe:</label>
    <input type="password" name="password" value="" id="password"></br></br></br></br></br></br></br></br></br></br></br>
    <input type="submit" value="Se connecter !" /></br></br></br>
  </form>

 </div>
 
 
</body>
</html>