<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel='stylesheet' href='/static/alfheimweb/style.css'>

	<title>Projet Alfheim</title>
 <title>
  Projet Alfheim
 </title>
</head>
<body>
 
 <div class="labels">
                <span></span><h2>Veuillez vous identifier</h2></br>
	
<form action="/alfheimweb/test/" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username"></br>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"></br>
    <input type="submit" value="login" /></br>
  </form>

 </div>
 
 
  
 
</body>
</html>