<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel='stylesheet' href='/static/alfheimweb/style.css'>

	<title>Projet Alfheim</title>
 <title>
  Projet Alfheim
 </title>
</head>
<body>

<div class="labels">
                <span></span><h2>Veuillez vous identifier</h2></br>
	
	<INPUT TYPE="text" NAME="email" SIZE="20" MAXLENGTH="30" VALUE="E-Mail"></br>
	<INPUT TYPE="password" NAME="psswd" SIZE="20" MAXLENGTH="20" VALUE=""></br></br></br>
	<INPUT type="button" value="Login"/></br></br></br></br></br></br></br></span>
	
</div>


</body>
</html>