<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Projet Alfheim</title>
    <link rel='stylesheet' href='/static/alfheimweb/CSS/style.css'>
    <script language="javascript" type="text/javascript" src="/static/alfheimweb/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/alfheimweb/js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/alfheimweb/js/jquery.flot.time.js"></script>
<div class="logo">
        <img width="100%" height="160" src="/static/alfheimweb/images/fond_ciel.jpg" alt="Gestion energie">
</div>
 </head>
    <body>
<div class="accueil">

 {% if user.is_authenticated %}
 Bienvenue dans votre espace personnel {{ user.username }},
 {% else %}
    Merci de vous connecter.
 {% endif %}
</div>

<div class="disconnect">
	<form action="/alfheimweb/exit/" method="post">
		<input type="submit" value="Déconnexion" /></br></br></br>
	</form>
</div>

    <div id="flot_graph"></div>

    <div class="options">
 	<p id="local">Localisation:</p>
    <form>
    <select id="localisation" size="1">
    <option>
    <option>
    <option>
    </select>
    
    <p id="period">P&eacuteriode:</br></p>
    
	<input type="radio" name="intervalle_tps" value="hour" checked>Par heures</br>
	<input type="radio" name="intervalle_tps" value="day">Par jours</br>
	<input type="radio" name="intervalle_tps" value="month">Par mois</br>
	<input type="radio" name="intervalle_tps" value="year">Par années</br>
	</form>
	

    <input type=button id='refreshbp' value="Rafraichir !" onClick="evenement()" /></br>
    </br></br>
    </div>
    
<script language="javascript" type="text/javascript">

s1 = null
s2 = null


function evenement(){

                temperature()
                presence()
                //sensors()
                set_graph()

           };




/*function sensors(){
    $.ajax({
            type:"GET",
            url :"/alfheimweb/sensors/?user_connected={{ user.username }}",
            //changer le type dela variable de l'utilisateur qu'on envoie, il faut mettre autre chose à la place du int
            datatype:"json",
            success: function(sens) {
                alert("win")
           },
           error:function(sens) {
               alert("error in getting from server")
           }
        });
    };*/

          


function temperature(){

    $.ajax({
            type:"GET",
            url :"/alfheimweb/temperature/?choice=" + $('input[type=radio][name=intervalle_tps]:checked').attr('value'),
            datatype:"json",
            success: function(temp) {
                //set_graph(temp)
                s1 = temp
           },
           error:function(temp) {
               alert("Error in getting from server !")
   		   }
        });
    };


function presence(){

    $.ajax({
            type:"GET",
            url :"/alfheimweb/presence/?choice=" + $('input[type=radio][name=intervalle_tps]:checked').attr('value'),
            datatype:"json",
            success: function(pres) {
                //set_graph(pres)
                s2 = pres
           },
           error:function(pres) {
               alert("Error in getting from server !")
         }
        });
    };



function set_graph() {
  var plot,
      container = $('#flot_graph'),
      options = {
        lines: { show: true, steps: false },
        points: { show: true },
        grid: { hoverable: true, clickable: true },
        yaxis: { min: 0 },
        xaxis: { mode: "time", timeformat: "%d-%b-%y %H:%M:%S"}},
      series = [s1, s2];

  plot = $.plot(container, series, options);

}


</script>

</body>
</html>



</script>


 </body>
</html>
