<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Projet Alfheim</title>
    <link rel='stylesheet' href='/static/alfheimweb/CSS/style.css'>
    <script language="javascript" type="text/javascript" src="/static/alfheimweb/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/alfheimweb/js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/alfheimweb/js/jquery.flot.time.js"></script>
<div class="logo">
        <img width="100%" height="160" src="/static/alfheimweb/images/fond_ciel.jpg" alt="Gestion energie">
</div>
 </head>
    <body>
<div class="accueil">

 {% if user.is_authenticated %}
 Bienvenue dans votre espace personnel {{ user.username }},
 {% else %}
    Merci de vous connecter.
 {% endif %}

</div>

<div class="disconnect">
	<form action="/alfheimweb/exit/" method="post">
		<input type="submit" value="Déconnexion" /></br></br></br>
	</form>
</div>

    <div id="flot_graph"></div>

    <div class="options">
 	<p id="local">Localisation:</p>
    <form>
    <select id="localisation" size="1">
    <option>Maison Orvault
    <option>Maison Seychelles
    <option>Maison Corse
    </select>
    
    <p id="period">P&eacuteriode:</br></p>
    
	<input type="radio" name="last24h" checked="checked" value="last24h">24 dernières heures</br>
	<input type="radio" name="last7d" value="last7d">7 derniers jours</br>
	<input type="radio" name="last31d" value="last31d">31 derniers jours</br>
	<input type="radio" name="last3m" value="last3m">3 derniers mois</br>
	<input type="radio" name="last12m" value="last12m">12 derniers mois</br></br>
	</form>
	

    <input type=button id='refreshbp' value="Rafraichir !" onClick="temperature()" />
    </br></br>
    </div>
    
<script language="javascript" type="text/javascript">



/*function sensors(){
    $.ajax({
            type:"GET",
            url :"/alfheimweb/sensors/",
            datatype:"json",
            success: function(sens) {
                document.getElementById('localisation').innerHTML = sens;
           },
           error:function(sens) {
               alert("error in getting from server")
           }
        });
    }; */ 




function temperature(){

    $.ajax({
            type:"GET",
            url :"/alfheimweb/graph/",
            datatype:"json",
            success: function(temp) {
                set_graph(temp)
           },
           error:function(temp) {
               alert("Error in getting from server !")
   		   }
        });
    };  


    
/*function set_graph(temp) {

        $.plot($("#flot_graph"), [{
            data: temp,
            //lines: { show: true, steps: false },
           // points: { show: true }            
        }],
        {
            grid: { hoverable: true, clickable: true },
            xaxis: { mode: "time", timeformat: "%d-%b-%y %H:%M:%S" }
        }
    );

    createPlot();
    
}*/

function set_graph(temp) {
  var plot,
      container = $('#flot_graph'),
      s1 = temp,
      options = {
        lines: { show: true, steps: false },
        points: { show: true },
        grid: { hoverable: true, clickable: true },
        yaxis: { min: 0 },
        xaxis: { mode: "time", timeformat: "%d-%b-%y %H:%M:%S"}},
      series = [s1];

  plot = $.plot(container, series, options);

}



    /*$.plot("#flot_graph", temp, {
      xaxis: { mode: "time" }
    });

    $('.series_check:checked').click(function () {
      $.plot("#placeholder", [d], {
        xaxis: { mode: "time" }
      });
    });

    $("#nineties").click(function () {
      $.plot("#placeholder", [d], {
        xaxis: {
          mode: "time",
          min: (new Date(1990, 0, 1)).getTime(),
          max: (new Date(2000, 0, 1)).getTime()
        }
      });
    });*/




</script>

</body>
</html>



</script>


 </body>
</html>
